* {
    margin:0px;
    padding:0px;
    
}
body{
    background-color: white;
}
#header0 {
    background-color:rgb(41, 38, 38);
    margin: auto;
    width: 372px;
    font-family: Arial, Helvetica, sans-serif
}
ul, li{
    list-style: none;
    background-color: yellow;
}
.nav{
    background-color: transparent;
}
.nav > li {
    float:left;
}
.nav li a {
    background-color:#434343;
    color:#fff;
    text-decoration:none;
    padding:10px 12px 10px 10px;
    display:block;
}
.nav li a:hover {
    background-color:rgb(41, 38, 38);
}
.nav li button{
    border-style: none;
    margin: auto;
    font-size: 17px;
    background-color:rgb(41, 38, 38);
    color:#fff;
    text-decoration:none;
    padding:10px 12px 10px 10px;
    display:block;
}
.nav li button:hover{
    cursor: pointer;
    background-color:#434343;
}
.nav li ul {
    display:none;
    position:absolute;
   
}
.nav li:hover > ul {
    display: block;
}




.nav li ul li {
    position:relative;
}
.nav li ul li ul {
    
    right:-130px;
    top:0px;
}
menu{
    
    background-color: rgb(41, 38, 38);
}
#banner0 {
    min-width: 369px;
    background-color: red;
    height: 200px;
}
#banner1 {
    background-color: blue;
    height: 50px;
}
#paquets{
    background-color: rgb(41, 38, 38);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 369px;
}
#paquets div{
    
    border-radius: 10%;
    margin: 5px;
    width: 200px;
    height: 200px;
    background-color: aqua;
    display: flex;
    justify-content: end;
    flex-direction: column;
    text-align: center;
}
#paquets div:hover{
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px rgb(0, 177, 177));
}
#paquets div p{
    background-color: transparent;
}
#paquets div q{
   display: none;
   position: absolute;
}
#paquets div:hover > q{
    background-color: white;
    display: flex;
    align-items: end;
    justify-content: center;
    bottom: -20px;
    width: 100%;
    border-radius: 10px;
    animation-name: cost;
    animation-duration: 0.2s;
    height: 40px;
 }


@keyframes cost {
    0%{ width: 0%;  }
    20%{ width: 10%;  }
    40%{ width: 40%;  }
    60%{ width: 60%;  }
    80%{ width: 80%;  }
    90%{ width: 100%;  }
    100%{ width: 120%;  }
}
#weAdd{
    background-color: yellow;
    height: 100px;
}
#weAdd banner0{
    display: block;
    background-color: green;
    height: 100px;
    position: relative;
    animation-name: banner0;
    animation-duration: 30.0s;
    animation-iteration-count: infinite;
}
#weAdd banner1{
    
    top: -100px;
    display: block;
    background-color: cyan;
    height: 100px;
    position: relative;
    animation-name: banner1;
    animation-duration: 30.0s;
    animation-iteration-count: infinite;
    
}
#weAdd banner2{
    top: -200px;
    display: block;
    background-color: black;
    height: 100px;
    position: relative;
    animation-name: banner2;
    animation-duration: 30.0s;
    animation-iteration-count: infinite;
    

}
@keyframes banner0 {
    0% { opacity: 100%; }
    10% { opacity: 100% ; }
    20% { opacity: 50%; }
    30% { opacity: 0%; }
    40% { opacity: 0% ;}
    50% { opacity: 0% ;}
    60% { opacity: 0%; }
    70% { opacity: 0% ; }
    80% { opacity: 50%; }
    90% { opacity: 100%; }
    100% { opacity: 100% ;}
    100% { opacity: 100% ;} 
}
@keyframes banner1 {
    0% { opacity: 0%; }
    10% { opacity: 0% ; }
    20% { opacity: 50%; }
    30% { opacity: 100%; }
    40% { opacity: 100% ;}
    50% { opacity: 50% ;}
    60% { opacity: 0%; }
    70% { opacity: 0% ; }
    80% { opacity: 0%; }
    90% { opacity: 0%; }
    100% { opacity: 0% ;}
    
}
@keyframes banner2 {
    0% { opacity: 0%; }
    10% { opacity: 0% ; }
    20% { opacity: 0%; }
    30% { opacity: 0%; }
    40% { opacity: 0% ;}
    50% { opacity: 50% ;}
    60% { opacity: 100%; }
    70% { opacity: 100% ; }
    80% { opacity: 50%; }
    90% { opacity: 0%; }
    100% { opacity: 0% ;}
}
#about{
    font-size: 20px;
    height: 200px;
    background-color: blue;
    min-width: 300px;
}
#about div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#about div button{
    border-radius: 10px;
    background-color: red;
    padding: 5px;
    max-width: 200px;
}
#about div p{
    display: none;
    position: relative;
    background-color: chocolate;
    border-radius: 5px;
    padding: 5px;
}

#about div:hover{
    cursor: pointer;
}
#about div:hover > p{
    cursor: pointer;
    display: block;
}







