* {
    margin:0px;
    padding:0px;
    background-color: purple;
}

#header0 {
    
    
    
    margin: auto;
    width: 369px;
    font-family:Arial, Helvetica, sans-serif;
    
}

ul, ol {
    list-style:none;
}

.nav > li {
    float: left;
}

.nav li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px 10px 10px;
    display:block;
}
.nav li a:hover {
    background-color:#434343;
}
.nav li h4{
    margin: auto;
    font-size: 17px;
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px 10px 10px;
    display:block;
}
.nav li h4:hover{
    cursor: pointer;
    background-color:#434343;

}

.nav li ul {
    
    display:none;
    position:absolute;
    min-width:140px;
}
.nav li:hover > ul {
    display: block;
}
.nav li:checked > ul{
    display: block;
}

.nav li ul li {
    position:relative;
}
.nav li ul li ul {
    
    right:-140px;
    top:0px;
}
menu{
    background-color: rgb(41, 38, 38);
    
    
    
}


#banner0 {
    min-width: 369px;
    background-color: red;

    height: 100px;
}
#banner1 {
    background-color: blue;
    height: 50px;
}