* {
    margin:0px;
    padding:0px;
    background-color: green;
}

#header0 {
    margin: auto;
    width: 375px;
    font-family: Arial, Helvetica, sans-serif
    
}

ul, ol{
    list-style: none;
    background-color: yellow;
    
}

.nav > li {
    float: left;
}

.nav li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px 10px 10px;
    display:block;
}
.nav li a:hover {
    background-color:#434343;
}
.nav li button{
    border-style: none;
    margin: auto;
    font-size: 17px;
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px 10px 10px;
    display:block;
}
.nav li button:hover{
    cursor: pointer;
    background-color:#434343;
}



.nav li ul {
    display:none;
    position:absolute;
   
}




.nav li:hover > ul {
    display: block;
}
.nav li:checked > ul{
    display: block;
}



.nav li ul li {
    position:relative;
}
.nav li ul li ul {
    
    right:-130px;
    top:0px;
}
menu{
    background-color: rgb(41, 38, 38);
   
    
}


#banner0 {
    min-width: 369px;
    background-color: red;
  
    height: 1200px;
}
#banner1 {
    background-color: blue;
    height: 50px;
}
#paquets{
    background-color: #000;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 369px;
    
}
#paquets div{
    margin: 5px;
    width: 200px;
    height: 200px;
    min-width: 100px;
    min-height: 100px;
    
    background-color: aqua;
   

}